* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto mono", monospace;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4rem calc(100vh - 6rem) 2rem;
}

.topbar {
    width: 100%;
    height: 100%;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

    .topbar > .name {
        display: flex;
        align-items: center;
    }

        .topbar > .name > img {
            width: 4rem;
            height: auto;
            animation: scaleanim 5s ease-in-out infinite;
            animation-delay: .2s;
        }

        .topbar > .name > a {
            background: linear-gradient(50deg, white 0%, #232323 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 200%;
            user-select: none;
            background-size: 200% 200%;
            background-position: -110% 50%;
            animation: gradientanim 10s ease-in-out infinite;
        }

    .topbar > .links {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

        .topbar > .links > a {
            background-color: darkcyan;
            color: white;
            width: 8rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 130%;
            border: 1px solid white;
            border-radius: .5rem;
            text-decoration: none;
            transition: background-color .2s, color .2s, text-decoration .2s;
        }

            .topbar > .links > a:hover {
                background-color: white;
                color: darkcyan;
                text-decoration: underline;
            }

            .topbar > .links > .selectedLink {
                animation: selectedanim 1s linear forwards;
            }

.content {
    width: 100%;
    height: 100%;
    background-color: #323232;
    padding: 1rem;
    text-align: center;
    overflow-y: auto;
}

    .content > hr {
        margin: 2.5rem 0;
    }

    .content > .titleContainer {
        width: 100%;
        height: 2.5rem;
        margin: 2rem;
        animation: rotateanim 1s ease-in-out infinite;
        animation-delay: 1s;
        transform: rotate(-5deg);
    }

        .content > .titleContainer > h1 {
            font-size: 200%;
            width: 21rem;
            height: 2.5rem;
            margin: 0 auto;
            animation: typeanim 1s steps(15, end) forwards, blinkanim .5s linear infinite;
            white-space: nowrap;
            border-right: 1px solid white;
        }

            .content > .titleContainer > h1 > span {
                color: darkcyan;
            }

    .content > h1 > span {
        color: darkcyan;
    }
    
    .content > .listContainerContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: visible;
    }

        .content > .listContainerContainer > .listContainer {
            display: grid;
            grid-template-columns: max-content max-content;
            grid-template-rows: repeat(3, 5rem);
            overflow: visible;
        }

            .content > .listContainerContainer > .listContainer > a {
                display: block;
                text-align: left;
                display: flex;
                align-items: center;
                padding: 0 2rem;
                transition: background-color .2s, color .2s, text-decoration .2s;
                font-size: 200%;
                overflow: visible;
            }

                .content > .listContainerContainer > .listContainer > a:nth-child(even) {
                    position: relative;
                    text-decoration: none;
                }

                .content > .listContainerContainer > .listContainer > a:nth-child(odd):hover {
                    background-color: white;
                    color: black;
                    text-decoration: none;
                }

                .hobbyLink:hover .hobbyImage {
                    transform: scale(1.5);
                }

            .content > .listContainerContainer > .listContainer > a > img {
                position: absolute;
                top: calc(50% - 1.8rem);
                left: calc(50% - 1.8rem);
                width: 3.6rem;
                height: auto;
                transition: transform 1s;
            }

.footer {
    width: 100%;
    height: 100%;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .footer > p {
        background: linear-gradient(50deg, white 0%, #232323 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 200%;
        background-position: -110% 50%;
        animation: gradientanim 20s ease-in-out infinite;
        animation-delay: 2s;
    }

@keyframes typeanim {
    from { width: 0rem; }
}

@keyframes blinkanim {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

@keyframes gradientanim {
    0% {
        background-position: -110% 50%;
    }
    5% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes rotateanim {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg)
    }
    100% {
        transform: rotate(-5deg);
    }
}

@keyframes scaleanim {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(.5);
    }
    10% {
        transform: scale(2);
    }
    15% {
        transform: scale(1);
    }
}

@keyframes selectedanim {
    to {
        background-color: white;
        color: darkcyan;
        text-decoration: underline;
    }
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1rem;
}
